* {
	/*box-sizing: border-box;*/
	padding: 0;
	margin:0;
	text-decoration: none;
	list-style: none;
	color: inherit;
	font-family: Alegreya Sans SC;
	
}

html, body {
	margin: 0;
	padding: 0;
	top:0;
	height: 100%;
}

.width100 {
	width: 100%;
}

.width90 {
	width: 90%;
}
.width60 {
	width: 60%;
}

svg {
	height: auto;
	width: 200px;
	margin: 20px 20px;
}


.devicons {
	width: 200px;
	height: auto;
}

.main-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 10px 40px;
	width: 100%;
	font-size: 30px;
	/*height: 70px;*/
}

.background-trans-dark {
	background: rgba(0,0,0,0.7);
	color: white;
	padding-top: 50px;
}

.box-shadow-thin {
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.7);
}

.box-shadow-thick {
	box-shadow: 0 0 100px 100px rgba(0,0,0,0.7);
}

.background-white {
	background: white;
	color: black;
}

.text-color {
	color: orange;
}

.text-trans {
	color: transparent;
}

#about, #skills, #portfolio, #contact {
	padding: 100px 0px;
	/*height: 700px;*/
}

.center = {
	text-align: center;
}

.portfolio.project {
	height: 350px;
	width: 350px;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.7);
	margin: 20px;
}

#paulphin {
	background: url('../images/paulphin.png');
	background-size: cover;
}

#vacation-planner {
	background: url('../images/vacation-planner.png');
}

#devkittens {
	background: url('../images/devkittens.png');
}

#portfolio {
	background: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?q=80&fm=jpg&s=eb2a21cc0655327e3295d3426e805607');
	/*background: #336699;*/
	color: white;
	background-size: cover;
}

.full {
	height: 100%;
	width: 100%;
}

.cover-trans {
	background: rgba(0,0,0,0.6);
	color: darkgray;
}

.text-large {
	font-size: 30px;
}


